{% extends "user/layout.html" %}
{% block pagetitle %} Forgotpassword {% endblock %}
{% block body %}
{{data}}
<div class="main-container">
<div class="loginform">
<h1>forgot password page</h1>
<form action="" method="POST">
{{form.csrf_token()}}
<div class="form-control">
{{form.youremail.label}}
{{form.youremail()}}
{{render_error(form.youremail)}}
</div>
{% if otp==True %}
<div class="form-control">
{{form.otp.label}}
{{form.otp()}}
{{render_error(form.otp)}}
</div>
{% endif %}
{% if passw==True %}
<div class="form-control">
{{form.resetpassword.label}}
{{form.resetpassword()}}
{{render_error(form.resetpassword)}}
</div>
{% endif %}
<div class="form-control submitbtn">
<input type="submit" value="Reset Password"/>
</div>
</form>
</div>
</div>
{% endblock %}`